<h3>We Do</h3>

<%= link_to "Bridesmaid Dresses", new_dress_path %>
<%= link_to "Bachelorrette Party", posts_path %>
<%= link_to "Schedules", bridalshower_index_path %>

<%= link_to "Profile", new_profile_path %>