<h3>We Do</h3>

<%= link_to "Pick a Bridesmaid Dress", new_dress_path %>
<%= link_to "Plan the Bachelorrette Party", posts_path %>
<%= link_to "Bridal Shower Details", bridalshower_index_path %>

<%= link_to "See Your Profile", new_profile_path %>