<div class="slideshow">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="active item">
                <h2>Bridesmaid Dresses</h2>
                <div class="carousel-caption">
                  <h3>Say "yes" to the dress!</h3>
                  <p>Figure out the color and style together!</p>
                </div>
            </div>
            <div class="item">
                <h2>Bachelorette Party</h2>
                <div class="carousel-caption">
                  <h3>details, details, details..</h3>
                  <p>Girls just wanna have fun :)</p>
                </div>
            </div>
            <div class="item">
                <h2>Schedule</h2>
                <div class="carousel-caption">
                  <h3>Are you available?</h3>
                  <p>Keep all the event dates and people's availability in one spot.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h2>Dress</h2>
      <p>blah blah blah</p>
      <p><%= link_to new_dress_path do %>
        <i class="fa fa-female"></i> Make Suggestions
      <% end %></p>
    </div>
    <div class="col-xs-4">
      <h2>Party</h2>
      <p>woohooooo</p>
      <p><%= link_to posts_path do %>
        <i class="fa fa-glass"></i> Start Planning
      <% end %></p>
    </div>
    <div class="col-xs-4">
      <h2>Schedules</h2>
      <p>use a calendar</p>
      <p><%= link_to bridalshower_index_path do %>
        <i class="fa fa-calendar"></i> Mark the calendar
      <% end %></p>
    </div>
  </div>
</div>